<ng-container *ngIf="(loadState$ | async) as loadState" [ngSwitch]="loadState">
    <app-view-message-box
        *ngSwitchCase="DataState.LOADING"
        [type]="DataState.LOADING"
    ></app-view-message-box>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <table class="mat-elevation-z8 demo-table">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                <td>{{ cname?.value }}</td>
            </tbody>
        </table>
        <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input 
                        matInput
                        type="text" 
                        autocomplete="off"
                        name="cname" 
                        formControlName="cname"
                    >
                    <mat-error
                        *ngIf="cname?.invalid && (cname?.dirty || cname?.touched || submitted)"
                    >
                        Please provide a name
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button type="submit" mat-flat-button color="primary">Submit</button>
            </div>
        </form>
    </ng-container>
    <app-view-message-box
        *ngSwitchCase="DataState.ERROR"
        [type]="DataState.ERROR"
    ></app-view-message-box>
</ng-container>