<ng-container>
    <ng-container *ngIf="isFormField">
        <div
            style="color:red;" 
            *ngIf="(component?.invalid && (component?.dirty || component?.touched || submitted)) && type !== 'edit'"
        >
            {{message}}
        </div>
    </ng-container>
    <ng-container *ngIf="!isFormField">
        <div
            style="color:red;"
            *ngIf="component.invalid && submitted"
        >
            {{message}}
        </div>
    </ng-container>
</ng-container>
