<ng-container *ngIf="(loadState$ | async) as loadState" [ngSwitch]="loadState">
    <app-view-message-box
        *ngSwitchCase="DataState.LOADING"
        [type]="DataState.LOADING"
    ></app-view-message-box>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <table class="mat-elevation-z4 demo-table" color="primary">
            <thead>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Role</th>
                <th>Branch</th>
            </thead>
            <tbody>
                <td>{{ firstName?.value }}</td>
                <td>{{ lastName?.value }}</td>
                <td>{{ role?.value }}</td>
                <td>{{ location?.value }}</td>
            </tbody>
        </table>
        <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
            <div>
                <mat-form-field>
                    <mat-label>First Name</mat-label>
                    <input 
                        matInput
                        type="text"
                        name="firstName" 
                        autocomplete="off"
                        formControlName="firstName"
                        maxlength="15"
                    >
                    <mat-error
                        *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched || submitted)"
                    >
                        Please provide a first name
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Last Name</mat-label>
                    <input 
                        matInput
                        type="text"
                        name="lastName" 
                        autocomplete="off"
                        formControlName="lastName"
                        maxlength="20"
                    >
                    <mat-error
                        *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched || submitted)"
                    >
                        Please provide a last name
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Role</mat-label>
                    <mat-select
                        formControlName="role" 
                        name="role"
                    >
                        <mat-option value="null" disabled>Choose a role</mat-option>
                        <mat-option *ngFor="let role of roles" [value]="role">
                            {{ role }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="role?.invalid && (role?.dirty || role?.touched || submitted)"
                    >
                        Please select a role
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="branches" [formGroup]="selectForm" *ngIf="(branches$ | async) as branches">
                <label for="branch">Branch:</label>
                    <div>
                        <mat-radio-group
                            class="branchDropDown"
                            name="branchDropDown"
                            formControlName="branchDropDown"
                            (change)="changeBranch()"
                        >
                            <mat-radio-button
                                *ngFor="let branch of branches | filterBranches"
                                [value]="branch"
                            >
                                {{ branch.location }}
                            </mat-radio-button>
                        </mat-radio-group>    
                    </div>
                    <mat-error
                        *ngIf="branchDropDown?.invalid && (branchDropDown?.dirty || branchDropDown?.touched || submitted)"
                    >
                        <sub>Please select a branch</sub>
                    </mat-error>                
            </div>
            <div>
                <button 
                    type="submit"
                    mat-flat-button
                    color="primary"
                >Submit</button>
            </div>
        </form>
    </ng-container>
    <app-view-message-box
        *ngSwitchCase="DataState.ERROR"
        [type]="DataState.ERROR"
    ></app-view-message-box>
</ng-container>


