<ng-container *ngIf="(loadState$ | async) as loadState" [ngSwitch]="loadState">
    <app-view-message-box
        *ngSwitchCase="DataState.LOADING"
        [type]="DataState.LOADING"
    ></app-view-message-box>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <table class="mat-elevation-z8 demo-table">
            <thead>
                <th>Employee</th>
                <th>Product</th>
                <th>Type</th>
                <th>Quantity</th>
                <th>Supplier</th>
                <th>Customer</th>
            </thead>
            <tbody>
                <td>{{ employee?.value?.firstName }} {{ employee?.value?.lastName }}</td>
                <td>{{ product?.value?.pname }}</td>
                <td>{{ transactionType?.value }}</td>
                <td>{{ transaction_quantity?.value }}</td>
                <td>{{ supplier?.value?.sname }}</td>
                <td>{{ customer?.value?.cname }}</td>
            </tbody>
        </table>

        <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
            <div>
                <mat-form-field>
                    <mat-label>Employee</mat-label>
                    <mat-select
                        formControlName="employee"
                        name="employee"
                    >
                        <mat-option value="null" disabled>Choose an employee</mat-option>
                        <mat-option *ngFor="let employee of (employeeList$ | async)" [value]="employee">
                            {{ employee.firstName }} {{ employee.lastName }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="employee?.invalid && (employee?.dirty || employee?.touched || submitted)">
                        Please select an employee
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Product</mat-label>
                    <mat-select formControlName="product" name="product" (selectionChange)="changeProduct()">
                        <mat-option value="null" disabled>Choose a product</mat-option>
                        <mat-option *ngFor="let product of (productList$ | async)" [value]="product">
                            {{ product.pname }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="product?.invalid && (product?.dirty || product?.touched || submitted)">
                        Please select a product
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="transactionType" name="transactionType" (selectionChange)="changeType()">
                        <mat-option value="null" disabled>Choose a type</mat-option>
                        <mat-option *ngFor="let type of rolesList" [value]="type">
                            {{ type }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="transactionType?.invalid && (transactionType?.dirty || transactionType?.touched || submitted)">
                        Please select a type
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="supplier?.value === null && customer?.value === null">
                <mat-error >
                    <sub>* Please select a customer or supplier</sub>
                </mat-error>
            </div>
            <div [ngSwitch]="transactionType?.value">
                <div>
                    <mat-form-field *ngSwitchCase="TransactionState.BUY">
                        <mat-label>Supplier</mat-label>
                        <mat-select formControlName="supplier" name="supplier">
                            <mat-option value="null" disabled>Choose a supplier</mat-option>
                            <mat-option *ngFor="let supplier of (supplierDropList$ | async)" [value]="supplier">
                                {{ supplier.sname }} 
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="supplier?.invalid && (supplier?.dirty || supplier?.touched || submitted)">
                            Please select a supplier
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field *ngSwitchCase="TransactionState.SELL">
                        <mat-label>Customer</mat-label>
                        <mat-select formControlName="customer" name="customer">
                            <mat-option value="null" disabled>Choose a customer</mat-option>
                            <mat-option *ngFor="let customer of (customerList$ | async)" [value]="customer">
                                {{ customer.cname }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="customer?.invalid && (customer?.dirty || customer?.touched || submitted)">
                            Please select a customer
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Quantity</mat-label>
                    <input 
                        matInput
                        type="number" 
                        min="0" 
                        name="transactionQuantity" 
                        formControlName="transaction_quantity"    
                    >
                    <mat-error *ngIf="transaction_quantity?.invalid && (transaction_quantity?.dirty || transaction_quantity?.touched || submitted)">
                        Please provide a quantity
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button type="submit" mat-flat-button color="primary">Submit</button>
            </div>
        </form>
    </ng-container>
    <app-view-message-box
        *ngSwitchCase="DataState.ERROR"
        [type]="DataState.ERROR"
    ></app-view-message-box>
</ng-container>