<ng-container *ngIf="(loadState$ | async) as loadState" [ngSwitch]="loadState">
    <app-view-message-box
        *ngSwitchCase="DataState.LOADING"
        [type]="DataState.LOADING"
    ></app-view-message-box>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <table class="mat-elevation-z8 demo-table">
            <thead>
                <th>Name</th>
            </thead>
            <tbody>
                <td>{{ pname?.value }}</td>
            </tbody>
        </table>
        <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
            <div>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input 
                        matInput
                        type="text" 
                        autocomplete="off"
                        name="pname" 
                        formControlName="pname"    
                    >
                </mat-form-field>
                <mat-error
                    *ngIf="pname?.invalid && (pname?.dirty || pname?.touched || submitted)"
                >
                    Please provide a name
                </mat-error>
            </div>
            <div>
                <button type="submit" mat-flat-button color="primary">Submit</button>
            </div>
        </form>
    </ng-container>
    <app-view-message-box
        *ngSwitchCase="DataState.ERROR"
        [type]="DataState.ERROR"
    ></app-view-message-box>
</ng-container>