<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
    <ng-container *ngSwitchCase="DataState.LOADING">
        loading...
    </ng-container>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <h1>{{ title }} <span *ngIf="isAll"><button (click)="showForm = !showForm">Add</button></span></h1>
        <app-form-employee 
            *ngIf="showForm" 
            [type]="formType" 
            (formRefresh)="refreshEmployeeView(dataSubject.value)"
            (closeForm)="closeFormAction()"
        ></app-form-employee>
        <app-table-employees 
            [appState]="appState" 
            [isAll]="isAll" 
            [type]="formType"
            (formRefresh)="refreshEmployeeView($event)"
            (closeForm)="closeFormAction()"
        ></app-table-employees>
    </ng-container>
    <ng-container *ngSwitchCase="DataState.ERROR">
        {{appState.error}}
    </ng-container>
</ng-container>