<ng-container *ngIf="(loadState$ | async) as loadState" [ngSwitch]="loadState">
    <app-view-message-box
        *ngSwitchCase="DataState.LOADING"
        [type]="DataState.LOADING"
    ></app-view-message-box>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <app-view-header
            [title]="title"
            [isAll]="isAll"
            [showAddForm]="showAddForm"
            (toggleAddForm)="closeAddForm()"        
        ></app-view-header>
        <app-form-suppliers 
            *ngIf="showAddForm" 
            [type]="formType"
            (closeForm)="closeAddForm()"
            (refreshForm)="refreshSupplierView()"
        ></app-form-suppliers>
        <table
            *ngIf="!showAddForm && (dataSource$ | async) as dataSource"
            mat-table            
            class="mat-elevation-z8 demo-table"
            [dataSource]="dataSource"            
        >
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let element">{{ element.sname }}</td>
            </ng-container>
            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Quantity</th>
                <td mat-cell *matCellDef="let element">{{ element.products.length }}</td>
            </ng-container>
            <ng-container matColumnDef="list">
                <th mat-header-cell *matHeaderCellDef>List</th>
                <td mat-cell *matCellDef="let element">
                    <tr class="inner-row-table" *ngFor="let p of element.products; let i = index">
                        <td>{{i + 1}}- {{p.pname}}</td>
                    </tr>
                </td>
            </ng-container>
            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef ></th>
                <td mat-cell *matCellDef="let element" >
                    <div *ngIf="isAll">
                        <button 
                            mat-icon-button 
                            (click)="getInfo(element.supplier_id)" 
                            color="primary" 
                            matTooltip="See more..."
                        >
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <div class="edit-delete-col" *ngIf="!isAll">
                        <button 
                            mat-icon-button 
                            (click)="showEditForm = !showEditForm" 
                            color="primary" 
                            matTooltip="Edit entry"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button 
                            mat-icon-button 
                            (click)="onDelete(element.supplier_id)" 
                            color="warn" 
                            matTooltip="Delete entry"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>        
        <ng-container *ngIf="showEditForm">
            <h3 class="edit-form-header">Edit {{title}}</h3>
            <app-form-suppliers
                [type]="formType"
                (closeForm)="closeEditForm()"
                (refreshForm)="refreshSupplierView()"
            ></app-form-suppliers>
        </ng-container>        
    </ng-container>
    <app-view-message-box
        *ngSwitchCase="DataState.ERROR"
        [type]="DataState.ERROR"
    ></app-view-message-box>
</ng-container>
