<div>
    <!-- error -->
</div>
<a routerLink="/suppliers">Back</a>
<hr>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let s of supplier">
            <td>{{s.sname}}</td>
            <td><button (click)="editSupplier()">Edit</button></td>
            <td><button (click)="deleteSupplier(s.supplier_id)">Delete</button></td>
        </tr>
    </tbody>    
</table>
<h3 *ngIf="showEditForm">Edit Supplier</h3>
<app-form-supplier *ngIf="showEditForm" [type]="formType"></app-form-supplier>