<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
    <ng-container *ngSwitchCase="DataState.LOADING">
        loading...
    </ng-container>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <h1>
            {{ title }}
            <span *ngIf="isAll">
                <button (click)="showAddForm = !showAddForm">
                    Add
                </button>
            </span>
        </h1>

        <app-form-customer 
            *ngIf="showAddForm" 
            [type]="formType"
            (closeForm)="closeAddForm()"
            (refreshForm)="refreshCustomerView($event)"
        ></app-form-customer>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th *ngIf="isAll">Info</th>
                    <th *ngIf="!isAll">Edit</th>
                    <th *ngIf="!isAll">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of (appState.appData?.data || [])">
                    <td>{{customer.cname}}</td>
                    <td *ngIf="isAll"><button (click)="getInfo(customer.customer_id)">Info</button></td>
                    <td *ngIf="!isAll"><button (click)="showEditForm = !showEditForm">Edit</button></td>
                    <td *ngIf="!isAll"><button (click)="deleteCustomer(customer.customer_id)">Delete</button></td>
                </tr>
            </tbody>    
        </table>

        <ng-container *ngIf="showEditForm">
            <h3>Edit {{title}}</h3>
            <app-form-customer
                [type]="formType"
                [data]="appState"
                (closeForm)="closeEditForm()"
                (refreshForm)="refreshCustomerView($event)"
            ></app-form-customer>
        </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="DataState.ERROR">
        {{appState.error}}
    </ng-container>
</ng-container>
