:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .content {
    display: flex;
    margin: 0px auto ;
    padding: 0 16px;
    max-width: 100%;
    flex-direction: column;
    height:125vmax;
    width:100%;
    background-color: rgba(250, 250, 255, 0.75);
    backdrop-filter: blur(3px) brightness(0.75) ;
    mix-blend-mode:hard-light;
  }
  .inner-content{
    max-width: 960px;
    width:80%;
    height:inherit;
    margin:0 auto;
    margin-top: 75px;
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  /* form styles */
  .form{
    width: 500px;
    max-width: 80%;
    margin:0 auto;
    margin-bottom: 40px;
    padding:15px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.65);
  }
  .mat-form-field{
      width: 100%;
      margin:0.5em 0;
  }
  .branches{
      margin:0.5em 0;
  }
  .branchDropDown{
      display: flex;
      flex-direction: column;
      gap:10px;
      padding:10px
  }
  .mat-flat-button{
      display: block;
      width: 100%;
      margin-top: 15px;
  }
  .demo-table{
      width: 500px;
      max-width: 80%;
      margin:0 auto;
      margin-bottom: 15px;
      margin-top: 25px;
      background-color: white;
  }
  .demo-table th{
      border-bottom: 1px solid rgb(221, 227, 231);
      color:slategray;
      font-size: 0.8em;
      text-align: center;
      text-emphasis-style:unset;
      padding:15px 0;
  }
  .demo-table td{
      text-align: center;
      font-size: 1em;
      height: 40px;
  }

  /* view styles */
  .demo-table {
    width:100%;
  }
  .table-header {
    text-align: center;
  }
  .mat-header-cell,
  .mat-cell{
    text-align: center;
  }
  .edit-delete-col{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .edit-form-header{
    text-align: center;
    margin-top: 40px;
    font-size: 1.7em;
  }
  .inner-row-table{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mat-toolbar{
    width: inherit;
    position:fixed;
    left:0;
    right:0;
    top:0;
    z-index: 5;
    opacity: 0.9;
  }

  /* sidenav styles */
  .example-container {
    width: 100%;
    height:100%;
    background-image: url('../assets/bg.jpg');
    background-position: center;
    background-repeat: inherit;
    background-size: cover;
    
  }
  .example-sidenav {
    padding: 20px;
    width: 250px;
    min-width: fit-content;
    height: 100vh;
    background-color: #3f51b5;
    border-right: 1px #fff solid;
  }
  .side-icon-nav{
    margin:0 10px;
  }
  .example-sidenav a {
    color:#fff;
    font-size: 1.2rem;
    margin:12.5px 0;
    letter-spacing: 2px;
  }
  .mat-icon{
    transform: scale(1.15);
  }
  .example-sidenav .mat-icon{
    transform:scale(1.5);
  }
  :host ::ng-deep .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
