<div>
    <!-- error -->
</div>
<a routerLink="/branches">Back</a>
<hr>
<table>
    <thead>
        <tr>
            <th>Location</th>
            <th>Status</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let b of branch">
            <td>{{b.location}}</td>
            <td>{{b.branchStatus}}</td>
            <td><button (click)="editBranch()">Edit</button></td>
        </tr>
    </tbody>    
</table>
<h3 *ngIf="showEditForm">Edit Branch</h3>
<app-form-branch *ngIf="showEditForm" [type]="formType"></app-form-branch>