<ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
    <ng-container *ngSwitchCase="DataState.LOADING">
        loading...
    </ng-container>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <h1>
            {{ title }} 
            <span *ngIf="isAll">
                <button (click)="showAddForm = !showAddForm">
                    Add
                </button>
            </span>
        </h1>

        <app-form-branch 
            *ngIf="showAddForm" 
            [type]="formType"
            (closeForm)="closeAddForm()"
            (refreshForm)="refreshBranchView($event)"
        ></app-form-branch>
        <table>
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Status</th>
                    <th *ngIf="isAll">Info</th>
                    <th *ngIf="!isAll">Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let branch of (appState.appData?.data || [])">
                    <td>{{branch.location}}</td>
                    <td>{{branch.branchStatus}}</td>
                    <td *ngIf="isAll"><button (click)="getInfo(branch.branch_id)">Info</button></td>
                    <td *ngIf="!isAll"><button (click)="showEditForm = !showEditForm">Edit</button></td>
                </tr>
            </tbody>    
        </table>

        <ng-container *ngIf="showEditForm">
            <h3>Edit Employee</h3>
            <app-form-branch
                [type]="formType"
                [data]="appState"
                (closeForm)="closeEditForm()"
                (refreshForm)="refreshBranchView($event)"
            ></app-form-branch>
        </ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="DataState.ERROR">
        {{appState.error}}
    </ng-container>
</ng-container>
