<ng-container *ngIf="(loadState$ | async) as loadState" [ngSwitch]="loadState">
    <app-view-message-box
        *ngSwitchCase="DataState.LOADING"
        [type]="DataState.LOADING"
    ></app-view-message-box>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <table class="mat-elevation-z8 demo-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>List</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{sname?.value}}</td>
                    <td>{{products?.value.length}}</td>
                    <td>
                        <tr class="inner-row-table" *ngFor="let p of products?.value; let i = index" >
                            <td>{{i + 1}}- {{p.pname}}</td>
                        </tr>
                    </td>
                </tr>
            </tbody>    
        </table>  
        <form 
            class="form" 
            *ngIf="{productList:productList$ | async,productLength: productLength$ | async} as obj"
            [formGroup]="form" 
            (ngSubmit)="submitForm()"
        >
            <div *ngIf="obj.productList && obj.productLength">
                <div>
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input 
                            matInput
                            type="text" 
                            name="sname"
                            autocomplete="off"
                            formControlName="sname"
                        >
                        <mat-error 
                            *ngIf="sname?.invalid && (sname?.dirty || sname?.touched || submitted)"
                        >
                            Please provide a name
                        </mat-error>
                    </mat-form-field>
                </div>
                <div [formGroup]="productCheckBoxGroup">
                    <label for="products">Products:</label>
                    <div *ngFor="let product of obj.productList">
                        <mat-checkbox
                            [formControlName]="product.product_id"
                            (change)="checkedBox(product)"
                        >{{ product.pname }}</mat-checkbox>
                    </div>
                </div>
                <div>
                    <button type="submit" mat-flat-button color="primary">Submit</button>
                </div>    
            </div>    
            <div *ngIf="!obj.productLength">
                <h1 style="width:100%;text-align:center;padding-top:35px;">No products available</h1>
            </div>        
            
            <!-- <div>
                <div for="supplier_products">Products:</div>
                <div *ngFor="let product of (productList$ | async)">
                    <input 
                        name="products"
                        [value]="product"
                        [checked]="product.isChecked"
                        formControlName="products"
                        (change)="checkedBox(product,$event)"
                        type="checkbox" 
                    >
                    <label 
                        [for]="product.pname"
                    >{{product.pname}}</label>
                </div>
            </div> -->
        </form>
    </ng-container>
    <app-view-message-box
        *ngSwitchCase="DataState.ERROR"
        [type]="DataState.ERROR"
    ></app-view-message-box>
</ng-container>
