<div *ngIf="hasError" style="color: red; padding:5px 0px;">
    {{errorMsg}}
</div>
<form>
    <div>
        <label for="employee">Employee</label>
        <select name="selectedEmployee" [(ngModel)]="selectedEmployee" (click)="updateEmployee($event)" required>
            <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.firstName }} {{ employee.lastName}}</option>
        </select>
    </div>
    <div *ngIf="hasSelectedEmployee">
        <label for="product">Product</label>
        <select name="selectedProduct" [(ngModel)]="selectedProduct" (change)="updateProduct($event)" required>
            <option *ngFor="let product of products" [value]="product.product_id">{{product.pname}}</option>
        </select>
    </div>
    <div *ngIf="hasSelectedProduct">
        <label for="type">Type</label>
        <select name="selectedType" [(ngModel)]="selectedType" (change)="updateType($event)" required>
            <option *ngFor="let type of types" [value]="type">{{type}}</option>
        </select>
    </div>
    <div *ngIf="hasSelectedBuy">
        <label for="supplier">Supplier</label>
        <select name="selectedSupplier" [(ngModel)]="selectedSupplier" (change)="updateCompany($event)">
            <option *ngFor="let supplier of filteredSuppliers" [value]="supplier.supplier_id">{{supplier.sname}}</option>
        </select>
    </div>
    <div *ngIf="hasSelectedSell">
        <label for="customer">Customer</label>
        <select name="selectedCustomer" [(ngModel)]="selectedCustomer" (change)="updateCompany($event)">
            <option *ngFor="let customer of customers" [value]="customer.customer_id">{{customer.cname}}</option>
        </select>
    </div>
    <div *ngIf="hasSelectedCompany">
        <label for="quantity">Quantity</label>
        <input type="number" min="0" name="transactionQuantity" [(ngModel)]="transactionQuantity" required>
    </div>
    <div *ngIf="hasSelectedCompany">
        <button (click)="submitForm()">Submit</button>
    </div>
</form>
