<ng-container *ngIf="(appStateForm$ | async) as appStateForm" [ngSwitch]="appStateForm.dataState">
    <ng-container *ngSwitchCase="DataState.LOADING">
        loading...
    </ng-container>
    <ng-container *ngSwitchCase="DataState.LOADED">
        loaded successfully
    </ng-container>
    <ng-container *ngSwitchCase="DataState.ERROR">
        {{appStateForm.error}}
    </ng-container>
</ng-container>
<ng-container *ngIf="{employee:employees$ | async,product:products$ | async, customer: customers$ | async, supplier: suppliers$ | async} as o">
    <ng-container *ngIf="o.employee && o.product && o.customer && o.supplier">
        
        <form [formGroup]="form">

            <div>
                <label for="employee">Employee: </label>
                <span *ngIf="employee?.valid">
                    {{ employee?.value.firstName }} {{employee?.value.lastName}}
                </span>
                <span *ngIf="employee?.valid">
                    <button (click)="isEmployeeSelectShow = !isEmployeeSelectShow">&#9998;</button>
                </span>
                <select name="employee" formControlName="employee" *ngIf="isEmployeeSelectShow || employee?.invalid">
                    <option [value]="null" disabled>Choose an employee</option>
                    <option *ngFor="let employee of o.employee" [ngValue]="employee">
                        {{ employee.firstName }} {{ employee.lastName }}
                    </option>
                </select>
                <app-validation-message
                    [component]="employee"
                    message="Please select an employee"
                    [submitted]="submitted"
                    [isFormField]="isFormField"
                ></app-validation-message>
            </div>
            <div>
                <label for="product">Product: </label>
                <span *ngIf="product?.valid">
                    {{ product?.value.pname }}
                </span>
                <span *ngIf="product?.valid">
                    <button (click)="isProductSelectShow = !isProductSelectShow">&#9998;</button>
                </span>
                <select name="product" formControlName="product" *ngIf="isProductSelectShow || product?.invalid" (change)="filterSuppliers()">
                    <option [value]="null" disabled>Choose a product</option>
                    <option *ngFor="let product of o.product" [ngValue]="product">
                        {{product.pname}}
                    </option>
                </select>
                <app-validation-message
                [component]="product"
                message="Please select a product"
                [submitted]="submitted"
                [isFormField]="isFormField"
                ></app-validation-message>
            </div>
            <div>
                <label for="type">Type: </label>
                <span *ngIf="transactionType?.valid">
                    {{ transactionType?.value }}
                </span>
                <span *ngIf="transactionType?.valid">
                    <button (click)="isTransactionSelectShow = !isTransactionSelectShow">&#9998;</button>
                </span>
                <select 
                    name="transactionType" 
                    formControlName="transactionType"
                    (change)="filterSuppliers()"
                    *ngIf="isTransactionSelectShow || transactionType?.invalid"
                >
                    <option [ngValue]="null" disabled>Choose a type</option>
                    <option 
                        *ngFor="let type of types" 
                        [value]="type"
                    >
                        {{type}}
                    </option>
                </select>
                <app-validation-message
                    [component]="transactionType"
                    message="Please select an transaction type"
                    [submitted]="submitted"
                    [isFormField]="isFormField"
                ></app-validation-message>
            </div>
            <div *ngIf="transactionType!.value === 'BUY' && product?.value">
                <label for="supplier">Supplier</label>
                <span *ngIf="supplier?.valid">
                    {{ supplier?.value.sname }}
                </span>
                <span *ngIf="supplier?.valid">
                    <button (click)="isSupplierSelectShow = !isSupplierSelectShow">&#9998;</button>
                </span>
                <select name="supplier" formControlName="supplier" *ngIf="isSupplierSelectShow || supplier?.invalid">
                    <option [value]="null" disabled>Choose a supplier</option>
                    <option *ngFor="let supplier of filteredSuppliers" [ngValue]="supplier">
                        {{supplier.sname}}
                    </option>
                </select>
                <app-validation-message
                    [component]="supplier"
                    message="Please select a supplier"
                    [submitted]="submitted"
                    [isFormField]="isFormField"
                ></app-validation-message>
            </div>
            <div *ngIf="transactionType!.value === 'SELL'">
                <label for="customer">Customer</label>
                <span *ngIf="customer?.valid && customer?.value !== null">
                    {{ customer?.value.cname }}
                </span>
                <span *ngIf="customer?.valid">
                    <button (click)="isCustomerSelectShow = !isCustomerSelectShow">&#9998;</button>
                </span>
                <select name="customer" formControlName="customer" *ngIf="isCustomerSelectShow || customer?.invalid || customer?.value !== null">
                    <option [value]="null" disabled>Choose a customer</option>
                    <option *ngFor="let customer of o.customer" [ngValue]="customer">
                        {{customer.cname}}
                    </option>
                </select>
                <app-validation-message
                    [component]="customer"
                    message="Please select a customer"
                    [submitted]="submitted"
                    [isFormField]="isFormField"
                ></app-validation-message>
            </div>  
            <div>
                <label for="quantity">Quantity</label>
                <input 
                    type="number" 
                    min="0" 
                    name="transactionQuantity" 
                    formControlName="transaction_quantity"
                >
                <app-validation-message
                    [component]="transaction_quantity"
                    message="Please enter a quantity"
                    [submitted]="submitted"
                    [isFormField]="isFormField"
                ></app-validation-message>
            </div>
            <div>
                <button (click)="submitForm()">Submit</button>
            </div>
        </form>
    </ng-container>
</ng-container>