<ng-container *ngIf="(loadState$ | async) as loadState" [ngSwitch]="loadState">
    <ng-container *ngSwitchCase="DataState.LOADING">
        loading...
    </ng-container>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <h1>
            {{ title }} 
            <span *ngIf="isAll">
                <button (click)="showAddForm = !showAddForm">Add</button>
            </span>
        </h1>
        <app-form-emps 
            *ngIf="showAddForm" 
            [type]="formType" 
            (closeForm)="closeAddForm()"
            (refreshForm)="refreshEmployeeView()"
        ></app-form-emps>
    
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Role</th>
                    <th>Branch</th>
                    <th *ngIf="isAll">Info</th>
                    <th *ngIf="!isAll">Edit</th>
                    <th *ngIf="!isAll">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of (data$ | async)">
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.role.slice(0,1) + employee.role.slice(1).toLowerCase()}}</td>
                    <td>{{employee.branch.location.slice(0,1) + employee.branch.location.toLowerCase().slice(1)}}</td>
                    <td *ngIf="isAll"><button (click)="getInfo(employee.id)">Info</button></td>
                    <td *ngIf="!isAll"><button (click)="showEditForm = !showEditForm">Edit</button></td>
                    <td *ngIf="!isAll"><button (click)="onDelete(employee.id)">Delete</button></td>
                </tr>
            </tbody>    
        </table>
    
        <ng-container *ngIf="showEditForm">
            <h3>Edit {{ title }}</h3>
            <app-form-emps 
                [type]="formType" 
                (closeForm)="closeEditForm()"
                (refreshForm)="refreshEmployeeView()"
            ></app-form-emps>
        </ng-container>
        
    </ng-container>
    <ng-container *ngSwitchCase="DataState.ERROR">
        {{ error$ | async }}
    </ng-container>

</ng-container>

