<ng-container *ngIf="(loadState$ | async) as loadState" [ngSwitch]="loadState" class="view-container">
    <app-view-message-box
        *ngSwitchCase="DataState.LOADING"
        [type]="DataState.LOADING"
    ></app-view-message-box>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <app-view-header
            [title]="title"
            [isAll]="isAll"
            [showAddForm]="showAddForm"
            (toggleAddForm)="closeAddForm()"
        ></app-view-header>
        <app-form-emps 
            *ngIf="showAddForm" 
            [type]="formType" 
            (closeForm)="closeAddForm()"
            (refreshForm)="refreshEmployeeView()"
        ></app-form-emps>
        
        <table
            *ngIf="!showAddForm && (dataSource$ | async) as dataSource"
            mat-table            
            class="mat-elevation-z8 demo-table"
            [dataSource]="dataSource"
        >   
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell *matCellDef="let element">{{ element.firstName }}</td>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell *matCellDef="let element">{{ element.lastName }}</td>
            </ng-container>

            <ng-container matColumnDef="role">
                <th mat-header-cell *matHeaderCellDef>Role</th>
                <td mat-cell *matCellDef="let element">{{ element.role }}</td>
            </ng-container>

            <ng-container matColumnDef="branch">
                <th mat-header-cell *matHeaderCellDef>Branch</th>
                <td mat-cell *matCellDef="let element">{{ element.branch.location }}</td>
            </ng-container>

            <ng-container matColumnDef="info">
                <th mat-header-cell *matHeaderCellDef ></th>
                <td mat-cell *matCellDef="let element" >
                    <div *ngIf="isAll">
                        <button 
                            mat-icon-button 
                            (click)="getInfo(element.id)" 
                            color="primary" 
                            matTooltip="See more..."
                        >
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                    <div class="edit-delete-col" *ngIf="!isAll">
                        <button 
                            mat-icon-button 
                            (click)="showEditForm = !showEditForm" 
                            color="primary" 
                            matTooltip="Edit entry"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button 
                            mat-icon-button 
                            (click)="onDelete(element.id)" 
                            color="warn" 
                            matTooltip="Delete entry"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    
        <ng-container *ngIf="showEditForm">
            <h3 class="edit-form-header">Edit {{ title }}</h3>
            <app-form-emps 
                [type]="formType" 
                (closeForm)="closeEditForm()"
                (refreshForm)="refreshEmployeeView()"
            ></app-form-emps>
        </ng-container>
    </ng-container>
    <app-view-message-box
        *ngSwitchCase="DataState.ERROR"
        [type]="DataState.ERROR"
    ></app-view-message-box>
</ng-container>

