<div>
    <!-- error -->
</div>
<h1>Products <span><button (click)="showForm()">Add</button></span></h1>
<app-form-product *ngIf="showAddForm" [type]="formType"></app-form-product>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Info</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.pname}}</td>
            <td><button (click)="getInfo(product.product_id)">Info</button></td>
        </tr>
    </tbody>    
</table>
