<ng-container *ngIf="(appStateForm$ | async)">
    done
</ng-container>

<ng-container *ngIf="{a:appStateProduct$ | async,b:productList$ | async} as o">
    <ng-container *ngIf="o.a && o.b">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div>
                <label for="sname">Name</label>
                <input 
                    type="text" 
                    name="sname"
                    autocomplete="off"
                    formControlName="sname"
                >
                <app-validation-message
                    [component]="sname"
                    message="Please provide a supplier name"
                    [submitted]="submitted"
                    [isFormField]="isFormField"
                ></app-validation-message>
            </div>
            <div>
                <div for="supplier_products">Products:</div>
                <div *ngFor="let product of o.b">
                    <input 
                        type="checkbox" 
                        name="product"
                        [value]="product"
                        [checked]="product.isChecked"
                        (change)="checkedBox(product,$event)"
                    >
                    <label 
                        [for]="product.pname"
                    >{{product.pname}}</label>
                </div>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </ng-container>
</ng-container>