<ng-container *ngIf="(appStateForm$ | async) as appState" [ngSwitch]="appState.dataState">
    done
</ng-container>
<ng-container *ngIf="{a:appStateBranch$ | async,b:branchList$ | async} as o">
    <ng-container *ngIf="o.a && o.b">
        <form (ngSubmit)="submitForm()">
            <div>
                <label for="firstName">First Name</label>
                <input type="text" name="firstName" [(ngModel)]="formState.firstName" required>
            </div>
            <div>
                <label for="lastName">Last Name</label>
                <input type="text" name="lastName" [(ngModel)]="formState.lastName" required>
            </div>
            <div>
                <label for="role">Role</label>
                <select name="selectedRole" [(ngModel)]="formState.role" required>
                    <option *ngFor="let role of roles" [ngValue]="role">{{ role }}</option>
                </select>
            </div>
            <div>
                <div>Branches:</div>
                <label for="branch">Branches:</label>
                <div *ngFor="let branch of o.b">
                    <input 
                        type="radio" 
                        name="branch" 
                        [checked]="branch.isChecked"
                        (click)="checkRadio(branch,$event)"
                    >
                    <label for="branch">{{branch.location}}</label>
                </div>
            </div>
            <div>
                <input type="submit" value="Submit">
            </div>
        </form>
    </ng-container>
</ng-container>