<ng-container *ngIf="loadState$ | async as loadState" [ngSwitch]="loadState">
    <app-view-message-box
        *ngSwitchCase="DataState.LOADING"
        [type]="DataState.LOADING"
    ></app-view-message-box>
    <ng-container *ngSwitchCase="DataState.LOADED">
        <table class="mat-elevation-z8 demo-table">
            <thead>
                <th>Location</th>
                <th>Status</th>
            </thead>
            <tbody>
                <td>{{ location?.value }}</td>
                <td>{{ branchStatus?.value }}</td>
            </tbody>
        </table>
        <form class="form" [formGroup]="form" (ngSubmit)="submitForm()">
            <div>
                <mat-form-field>
                    <mat-label>Location</mat-label>
                    <input 
                        matInput
                        type="text"
                        autocomplete="off"
                        name="location" 
                        formControlName="location"
                        maxlength="25"
                    >
                    <mat-error
                        *ngIf="location?.invalid && (location?.dirty || location?.touched || submitted)"
                    >
                        Please provide a location
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select
                        name="branchStatus" 
                        formControlName="branchStatus"
                    >
                        <mat-option value="null" disabled>Choose a status</mat-option>
                        <mat-option *ngFor="let status of locationStatus" [value]="status">
                            {{ status }}
                        </mat-option>
                    </mat-select>
                    <mat-error
                        *ngIf="branchStatus?.invalid && (branchStatus?.dirty || branchStatus?.touched || submitted)"
                    >
                        Please select a status
                    </mat-error>
                </mat-form-field>
            </div>
            <div>
                <button type="submit" mat-flat-button color="primary">Submit</button>
            </div>
        </form>        
    </ng-container>
    <app-view-message-box
        *ngSwitchCase="DataState.ERROR"
        [type]="DataState.ERROR"
    ></app-view-message-box>
</ng-container>